<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SinemaOtomasyonu.Properties.Settings.SinemaConnectionString"
            connectionString="Data Source=.;Initial Catalog=Sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SinemaOtomasyonu.Properties.Settings.SinemaConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SinemaOtomasyonu.Properties.Settings.SinemaConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SinemaOtomasyonu.Properties.Settings.SinemaConnectionString3"
            connectionString="Data Source=.;Initial Catalog=Sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SinemaOtomasyonu.Properties.Settings.SinemaConnectionString4"
            connectionString="Data Source=.;Initial Catalog=Sinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>